.table-container {
    font-family: Arial, sans-serif;
    width: 70%;
    margin: 0 auto;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  table {
    width: 100%;
  }

  th,
  td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .add-row-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
  }
  
  input {
    padding: 5px;
    width: 100px;
    margin-right: 10px;
  }
  
  button {
    padding: 8px 16px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
    margin-right: 5px;
  }
  
  button:hover {
    background-color: #45a049;
  }
.input-handler {
    margin-top: 20px;
}